@import url("~react-toastify/dist/ReactToastify.min.css");
@import url("~field-form/dist/index.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder, textarea::placeholder {
    opacity: 0.2;
}

/* Hide number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Hide spinner in Firefox */
}

.inter {
    font-family: var(--font-inter);
  }